# Logs
logs
*.log
*.pid
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
client/node_modules
client/dist
*.local
*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.out
*.csv
*.parquet
*.dump
*.log

__pycache__/
data/
raw_data/
scripts/data.ipynb
